[submodule "rc_dynamics_api/opt/cpr"]
	path = rc_dynamics_api/opt/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "rc_dynamics_api/opt/json"]
	path = rc_dynamics_api/opt/json
	url = https://github.com/nlohmann/json
[submodule "rc_dynamics_api/rc_dynamics_msgs"]
	path = rc_dynamics_api/rc_dynamics_msgs
	url = ../rc_dynamics_msgs
